ion-card {
    color: black;
}

h4 {
    font-family: "Arial Black", Gadget, sans-serif;
    color: black;
}

ion-title {
    font-family: Apple Chancery, cursive;
    text-decoration: overline;
}

.tol {
    text-align: center;
}

.order {
    // background-color: antiquewhite;
    text-align: center;
}

.background-image {
    --background: url("say1.jpg") 0 0/100% 100% no-repeat;
}