<ion-header>
    <ion-toolbar color="dark">
        <ion-icon name="arrow-back" [routerLink]="['/home']"></ion-icon>
        <ion-title>Cappuccino Coffee Order</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="background-image">
    <div class="order">

        <ion-card>
            <ion-grid>

                <ion-row>

                    <ion-col>

                        <img src="assets/sug.jpg" alt="Trulli" width="150" height="100" />
                        <h4>
                            <font size="4">
                                SUGAR
                            </font>
                        </h4>
                        <h4> Price:&nbsp;R{{price1}}</h4>
                        <ion-button color="dark" (click)="onPriceMinus1()">-</ion-button>
                        <ion-button color="dark" (click)="onPriceAdd1()">+</ion-button>


                    </ion-col>
                    <ion-col>

                        <img src="assets/mil.jpg" alt="Trulli" width="150" height="100" />
                        <h4>
                            <font size="4">
                                FOMED MILK
                            </font>
                        </h4>
                        <h4>Price:&nbsp;R{{price2}}</h4>
                        <ion-button color="dark" (click)="onPriceMinus2()">-</ion-button>
                        <ion-button color="dark" (click)="onPriceAdd2()">+</ion-button>
                    </ion-col>
                </ion-row>
            </ion-grid>
            <ion-grid>
                <ion-row>
                    <ion-col>

                        <img src="assets/exp.jpg" alt="Trulli" width="150" height="100" />
                        <h4>
                            <font size="4">
                                EXPRESSO
                            </font>
                        </h4>
                        <h4>Price:&nbsp;R{{price3}}</h4>
                        <ion-button color="dark" (click)="onPriceMinus3()">-</ion-button>
                        <ion-button color="dark" (click)="onPriceAdd3()">+</ion-button>
                    </ion-col>
                    <ion-col>

                        <img src="assets/syrup.jpg" alt="Trulli" width="150" height="100" />
                        <h4>
                            <font size="4">
                                SYRUP
                            </font>
                        </h4>
                        <h4>Price:&nbsp;R{{price4}}</h4>
                        <ion-button color="dark" (click)="onPriceMinus4()">-</ion-button>
                        <ion-button color="dark" (click)="onPriceAdd4()">+</ion-button>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card>
        <ion-card>
            <div class="tol">

                <h4>Total:&nbsp;R{{total}}.00</h4>
                <ion-button color="dark" (click)="print()">Check Out</ion-button>
            </div>
        </ion-card>



    </div>
</ion-content>