<ion-header>
    <ion-toolbar color="dark">
        <ion-icon name="arrow-back" [routerLink]="['/home']"></ion-icon>
        <ion-title>Flat White Coffee Order</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="background-image">

    <div class="white">



        <ion-card>
            <div class="top">
                <h1>
                    <font size="6"> Coffee Toppings</font>
                </h1>
            </div>
            <ion-grid>

                <ion-row>

                    <ion-col>

                        <img src="assets/stem.jpg" alt="Trulli" width="250" height="200" />
                        <h4>
                            <font size="4">
                                STEAMED MILK
                            </font>
                        </h4>
                        <h4>Price:&nbsp;R{{price1}}</h4>
                        <ion-button color="dark" (click)="onPriceMinusBtn1()">-</ion-button>
                        {{Q1}}
                        <ion-button color="dark" (click)="onPriceAddBtn1()">+</ion-button>
                    </ion-col>

                    <ion-col>

                        <img src="assets/sugar.jpg" alt="Trulli" width="250" height="200" />
                        <h4>
                            <font size="4">
                                SUGAR
                            </font>
                        </h4>
                        <h4>Price:&nbsp;R{{price2}}</h4>
                        <ion-button color="dark" (click)="onPriceMinusBtn2()">-</ion-button>
                        {{Q2}}
                        <ion-button color="dark" (click)="onPriceAddBtn2()">+</ion-button>


                    </ion-col>
                </ion-row>
            </ion-grid>
            <ion-grid>
                <ion-row>

                    <ion-col>

                        <img src="assets/okay.jpg" alt="Trulli" width="250" height="200" />
                        <h4>
                            <font size="4">
                                COFFEE
                            </font>
                        </h4>
                        <h4>Price:&nbsp;R{{price3}}</h4>
                        <ion-button color="dark" (click)="onPriceMinusBtn3()">-</ion-button>
                        {{Q3}}
                        <ion-button color="dark" (click)="onPriceAddBtn3()">+</ion-button>
                    </ion-col>
                    <ion-col>

                        <img src="assets/res.jpg" alt="Trulli" width="250" height="200" />
                        <h4>
                            <font size="4">
                                EXPRESSO
                            </font>
                        </h4>
                        <h4>Price:&nbsp;R{{price4}}</h4>
                        <ion-button color="dark" (click)="onPriceMinusBtn4()">-</ion-button>
                        {{Q4}}
                        <ion-button color="dark" (click)="onPriceAddBtn4()">+</ion-button>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card>
        <ion-card>


            <div class="total">

                <h4>Total:&nbsp;R{{total}}.00</h4>
                <ion-button color="dark" (click)="print()">Check Out</ion-button>
            </div>
        </ion-card>
    </div>

</ion-content>