h4 {
    font-family: "Arial Black", Gadget, sans-serif;
    color: black;
}

.white {
    text-align: center;
}

.background-image {
    --background: url("say3.jpg") 0 0/100% 100% no-repeat;
}

.total {
    text-align: center;
}

.top {
    font-family: Apple Chancery, cursive;
    color: black;
}

ion-title {
    font-family: Apple Chancery, cursive;
    text-decoration: overline;
    text-align: center;
}

ion-card {
    background-color: white;
}