.background-image {
    --background: url("coff.jpg") 0 0/100% 100% no-repeat;
    color: black;
}

h1 {
    color: white;
    font-family: Apple Chancery, cursive;
}

.home {
    text-align: center;
}

ion-button {
    font-family: Apple Chancery, cursive;
    color: black;
}

ion-title {
    font-family: Apple Chancery, cursive;
    text-decoration: overline;
    text-align: center;
}

.coff {
    background-color: white;
}